extends layout

block content
	h1 Wingzingly!
	p We know you're excited.  Sign up now!
	form(method='post' action='/signup')
		input(type='text' name='email' placeholder='Email')
		input(type='submit' value='SIGN UP')
			